<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./lib/css/bootstrap.css" crossorigin="anonymous">
    </head>
    <body>
           
        {% include './headerdeSesiones.html.twig' %}
    <!--contenedor de todo el cuerpo del alta de Pacientes-->
    <div class="alert alert-dark" role="alert">
	     <label>
	     	La baja del dato demografico no se puede realizar porque tiene un paciente asociado, borre el paciente correspondiente antes de borrar el dato demografico
	     </label>

     	<a class="pl-4 pr-4 pt-4" href= "?" >
         <button>
         	Volver al inicio
         </button>
     </a>
    </div>
</html>