<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Reporte de Curva de percentil perímetro cefálico</title>
        <link rel="stylesheet" href="./lib/css/bootstrap.css" crossorigin="anonymous">
		<style type="text/css"></style>
	</head>
	<body>
            {% include './headerdeSesiones.html.twig' %}
            {% include './menuDeGraficosControlSalud.html.twig' %}
        <script src="./lib/highcharts/code/highcharts.js"></script>
        <script src="./lib/highcharts/code/modules/series-label.js"></script>
        <script src="./lib/highcharts/code/modules/exporting.js"></script>

        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        
        <script type="text/javascript">
        var myData = {{array}};
        var mySeries = [];
            for (var i = 0; i < myData.length; i++) {
                mySeries.push([myData[i]]);
                 
            }
            
            var fechasFinal= JSON.parse('{{ fechas|raw}}'); 
        Highcharts.chart('container', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Reporte de Curva de percentil perímetro cefálico'
            },
            subtitle: {
                text: 'Source: WorldClimate.com'
            },
            xAxis: {
                categories: fechasFinal
            },
            yAxis: {
                title: {
                    text: 'Valores del PPC'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'Paciente',
                data: mySeries
            }]
        });
                </script>
        {% include './footer.html.twig' %}
	</body>
</html>
