<footer>
<ol class="breadcrumb">
    <div class="d-flex justify-content-start">
        <div class="p-2">
             <li class="breadcrumb-item active">Proyecto De Software 2017 - Hospital Dr. Ricardo Gutiérrez</li>
        </div>
        <div class="ml-auto p-2">
            <li class="breadcrumb-item active"> E-mail de contacto: {{ mail }} </li>
        </div>
    </div>
</ol>   
</footer>