<nav class="navbar navbar-expand-lg navbar-light bg-light">
     <div class="p-2">
         <a class="pl-4 pr-4 pt-4" href= "?c=Paciente&m=listar&inicio=0" >    
           <button type="button" class="btn btn-light">Listar</button>
         </a>
      </div>
      <div class="p-2">
         <a class="pl-4 pr-4 pt-4" href= "?c=Paciente&m=filtrar" >    
           <button type="button" class="btn btn-light">Filtrar</button>
         </a>
      </div>
</nav> 